@model OPIM_Common.DataModels.TypesModel
<div class="modal fade" id="typeManageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="custom-closed close" data-dismiss="modal"
                   aria-hidden="true">
                </i>
                <div class="modal-header">
                    <div class="custom-login-title text-center">
                        <div class="fontl" style="float:inherit">类目管理</div>
                        <div class="custom-clear"></div>
                    </div>
                </div>
            </div>
            @using (Ajax.BeginForm("", "",
               new AjaxOptions { HttpMethod = "POST",  OnSuccess = "TypesSuccess", OnFailure = "TypesFailure" },
               new { @class = "form-horizontal", @role = "form", @id = "typesForm" }))
            {
                @*@Html.AntiForgeryToken()*@
                <div class="modal-body">
                    <div class="gtco-container">
                        @Html.HiddenFor(model=>model.Id)
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收支类型</label>
                            <div class="col-sm-8">
                                @Html.RadioButtonFor(model => model.InOrOut, 0, new { @id = "InOrOut0" })<label>收入</label>
                                @Html.RadioButtonFor(model => model.InOrOut, 1, new { @id = "InOrOut1" })<label>支出</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model=>model.Name,new { @class="form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model=>model.Remark,new { @class="form-control"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn btn-success btn-rounded" type="submit" id="submitTypeManage"><i class="fa fa-info-circle"></i>提交操作</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>

    function FileTypeMessage(model) {
        $('#Id').val(model.Id);
        $('#Name').val(model.Name);
        $('#Remark').val(model.Remark);
        $(":radio[name='InOrOut'][value='" + model.InOrOut + "']").prop("checked", "checked");
    }
    function TypesSuccess(result) {
        if (result.Success) {
            toastr.success("操作成功");
            $('#typeManageModal').modal("hide");
            $('#table').bootstrapTable("refresh");
        } else {
            toastr.error("操作失败");
        }
    }
    function TypesFailure() {
        toastr.error("数据提交失败");
    }
   
</script>
